meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

base(href="/")

//libraries
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/underscore/underscore.js')
script(src='/bower_components/angular/angular.js')
script(src='/bower_components/angular-route/angular-route.js')
script(src='/bower_components/angular-resource/angular-resource.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')


link(rel="stylesheet" href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel="stylesheet" href='/bower_components/font-awesome/css/font-awesome.min.css')
link(rel="stylesheet" href='/styles/test.css')