doctype html
html(lang="en")
	head
		title Asaan Jobs
		include header
	body(ng-app="AsaanApp" id="ng-app")
		div#container
			div#navbar
				include navbar
			div#page
				block content
			div#footer
				include footer