nav.navbar.navbar-fixed-top.navbar-default.background_white(role="navigation")
  div.container-fluid
    //Brand and toggle get grouped for better mobile display
    ul.nav.navbar-nav.navbar-left#navmain
      li
        a.navbar-brand(href='/') ASAAN JOBS
